:root {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: #FFFFF2;
}

nav {
    font-size: 18px;
    color: #3A3E36;
    max-width: 280px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

header ul li {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    display: inline-block;
    background-color: #B3C7D1;
}

header a {
    color: #3A3E36;
}

button {
    background: none;
    border: none;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 a {
    color: #28374C;
}

h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    color: #28374C;
    font-weight: bold;
    font-size: 24px;
}


/* #maintxt {
    max-width: 1000px;
    margin: auto;
} */

#main_content_block {
    max-width: 800px;
    height: auto;
    margin: auto;
}

p {
    color: #3A3E36;
    font-size: 20px;
    font-family: 'Quattrocento', serif;
    margin: 0 5px 0 10px;
}

.container img {
    max-width: 100%;
    height: auto;
    vertical-align: text-top;
    text-align: center;
}

h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    display: inline-block;
    text-align: center;
}

h4 {
    margin-top: 0;
    padding-top: 0;
}

aside ul {
    margin: 0;
    padding: 0;
}

aside ul li {
    list-style-type: none;
}


/* Slide in animation */

.name {
    animation-duration: 2s;
    animation-name: slidein;
    /* border-radius: 50px; */
}

@keyframes slidein {
    from {
        margin-left: 50%;
        /* width: 300%; */
    }
    to {
        margin-left: 0%;
        /* width: 100%; */
    }
}


/* Hover Names*/

.img-hover .name_text {
    position: relative;
    top: -100px;
    left: 0px;
    visibility: hidden;
}

.img-hover:hover .name_text {
    visibility: visible;
    color: #FFFFF2;
    font-weight: bold;
    font-size: 36px;
    font-variant: small-caps;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 25px;
}

#description {
    max-width: 390px;
    height: auto;
    vertical-align: text-top;
    float: left;
    padding: 0 10px 0 10px;
}

img {
    max-width: 390px;
    height: auto;
    display: inline-block;
    margin: auto;
    border-radius: 50px;
    padding: 0 10px 0 10px;
}

footer p {
    display: block;
    font-size: 14px;
    text-align: right;
    margin-top: 20px;
}

.arrow {
    position: fixed;
    bottom: 1.2em;
    right: 5px;
    /* text-align: right; */
}